fastapi
uvicorn
pydantic
python-dotenv
python-multipart
aiofiles

numpy
pandas
scikit-learn
scipy

matplotlib
plotly

torch
torchvision
torchaudio

rdkit
selfies
networkx
moses

pennylane
qiskit

sqlalchemy

langchain
langchain-community
ollama

jupyter
notebook
ipykernel

requests
httpx

py3Dmol

pytest

rich
tqdm
